<!DOCTYPE HTML>
  <html>
    <head>
      <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
      <script>
        window.onload = function () {
        // using chart https://canvasjs.com/docs/charts/basics-of-creating-html5-chart/multi-series-charts/
        // formatting  https://canvasjs.com/docs/charts/basics-of-creating-html5-chart/formatting-date-time/
        var chart = new CanvasJS.Chart("chartContainer", {
          animationEnabled: true,
          theme: "dark2",
          title:{
            text: "Arnie's Super Duper Smoke Detector"
          },
          axisX:{      
            valueFormatString: "DDD HH:mm:ss" ,
            labelAngle: -50
          },
          data: [
            <% for (const sensor_name in grouped_sensor_values) { %>
              {
                type: "line",
                indexLabelFontSize: 16,
                showInLegend: true,
                name: "<%= sensor_name %>",
                dataPoints: [
                  <% grouped_sensor_values[sensor_name].forEach(function(element) { %>
                    { y: <%= element.sensor_value %>, x: new Date(<%= element.time_utc %>)  },
                  <% }); %>
                ]
              },
            <% }; %>
          ]
        });
        chart.render();

        }
      </script>
    </head>
  <body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  </body>
</html>
